<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Xin chào bạn <%= username %></h1>
    <h1>Bạn đã đăng nhập thành công tại máy chủ BK-SSO</h1>
	<div class='navbar'>
        <p>
        <h2><a href='/'>Trang chủ</a>|<a href='/noteadd'>Thêm ghi chú</a></h2>
        </p>
    </div>
</body>
</html>