<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Hello <%= username %></h1>
	<div class='navbar'>
        <p>
            <a href='/'>Home</a>|<a href='/noteadd'>Add note</a>
        </p>
    </div>
</body>
</html>